<body id="generic-page-style">
  <div class="row"> 
      <div class="email-panel">
        <h3>Get in Touch!</h3>
        <div class="section-container tabs" data-section>
          <section class="section">
            <div class="content" data-slug="panel1">
              <%= form_for(@message) do |form| %>
                <div class="row">
                <div class="large-6 columns">
                  <%= form.label(:to) %>
                  <%= form.text_field(:screen_name, value: @user.screen_name, readonly: true ) %>
                  </label>
                </div>
                <div class="large-6 columns">             
                  <%= form.label(:subject)  %>
                  <%= form.text_field(:subject) %>
                  </label>
                </div>
                </div>
                  <%= form.label(:body) %>
                  <%= form.text_area(:body, id: 'message-text') %>
                  <%= form.submit("Send", class: "radius button") %>
                <% end %>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div> 
  </div> 
</body>