<body id="generic-page-style">
  <div class="row">
    <div class="large-12 columns">
      <div class="row"> 
        <div class="profile-picture">
          <div class="profile-panel">
            <div class="large-4 small-12 columns"> 
            <%= image_tag @user.avatar(:large) %>    
            <h6><%= link_to("Send a message", new_message_path({ receiver_id: @user.id }) )%></h6>
            </div> 
            <div class="large-8 columns">
              <div class="row">
              <h3><strong><%= @user.screen_name %></strong></h3><br>
              <p><%= @user.about_me %></p><br>
              <p><%= @user.exercise_type %></p><br>
              <p><%= @user.age %></p><br>
              <i class="fi-torso"></i><p><%= @user.gender %></p><br>
              <p><%= link_to "Back to users list", users_path %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
