<body id="generic-page-style">
  <div class="row">
    <div class="large-12 columns">
      <div class="row"> 
        <div class="profile-picture">
          <div class="profile-panel">
            <div class="large-4 small-12 columns"> 
            <%= image_tag @user.avatar(:large) %>   
              <div class="message-link"> 
                <% unless current_user.id == @user.id %>
                  <%= link_to("Send a message", new_message_path({ receiver_id: @user.id }) )%>
                <% end %>
              </div> 
            </div> 
            <div class="large-8 columns">
              <div class="list-attributes">
                <div class="row">
                <h3><strong><%= @user.screen_name %></strong></h3><br>
                <p><%= @user.about_me %></p><br>
                  <div class="small-4 columns">
                    <div class="small-2 columns">
                      <i class="fi-star"></i>
                      <i class="fi-check"></i>
                      <i class="fi-star"></i>
                    </div>
                    <div class="list-descriptions">
                      <div class="small-2 columns">
                        <%= @user.exercise_type %>
                        <%= @user.age %>
                        <%= @user.gender %><br>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="back-link">
                  <%= link_to "Back to users list", users_path %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
