<body id="sign-in">
  <div class="logo-sign-in">
    <%=image_tag("logo.png", alt: "iTrainer logo") %>
  </div>
  <div class="small-4 large-centered columns">
    <div class="row">
      <div class="signin-panel">
        <h2>Forgot your password?</h2>
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= devise_error_messages! %>
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
          <div class="button-reset-password">
          <%= f.submit "Send me reset password instructions", class: "button small radius" %>
          <p><%= render "devise/shared/links" %></p>
        </div>
          <% end %>
        </div>
      </div>
    </div>
  </body>