<div class="user-filter">
  <%= form_tag(users_searches_path, method: 'get') do %>
    <%= label_tag :gender %>
    <%= select_tag(:gender, options_for_select([ "Male", "Female", "Other"]) ) %>
    <% params[:gender] %>

    <%= label_tag :age %>
    <%= select_tag(:age, options_for_select({ '18-35' => 18..35, '35-49' => 35..49, '50-64' =>  50..64, '65+' => 65  }))%>
    <%= submit_tag('Filter')%>
  <% end %>
</div>

<% @users.each do |user| %>
  <div class="users-list">
    <div class="large-3 columns">
      <div class="panel">
      <%= image_tag user.avatar(:medium) %>
      <%= user.screen_name %><br>
      <%= user.about_me %><br>
      <%= user.gender %><br>
      <%= user.address %>
      </div>
    </div>
  </div>
<% end %>