<body id="generic-page-style">
  <div class="row">
    <div class="large-12 columns"> 
      <div class="row">
          <div class="large-4 small-12 columns">
            <%= form_tag(searches_path, method: 'get') do %>
            <div class="search-panel">
              <%= label_tag :gender%>
              <%= select_tag(:gender, options_for_select([ "Male", "Female", "Other"]), :include_blank => true ) %>
              <% params[:gender] %>
              <%= label_tag :age %>
              <%= select_tag(:age, options_for_select({ '18-35' => 18..35, '35-49' => 35..49, '50-64' =>  50..64, '65+' => 65}),:include_blank => true )%>
              <% params[:age] %>
              <%= label_tag :experience %>
              <%= select_tag(:experience, options_for_select(experience_types_list), :include_blank => true)%>
              <% params[:experience] %>
              <%= label_tag :exercise %>
              <%= select_tag(:exercise, options_for_select(exercise_type_list), :include_blank => true)%>
              <% params[:exercise] %>
              <div class="row">
                <ul class="button-group fix_button_group">
                  <li><%= submit_tag('Filter', :class => 'button tiny')%></li>
                  <li><%= link_to "Clear filter", users_path, :class => 'button tiny'%></li>
                </ul>
              </div>
              </div>
              <% end %>
              </div>   
              <div class="large-8 columns">
              <div class="profile-grid"> 
                <div class="row">
                  <% @users.each do |user| %> 
                  <div class="large-4 small-6 columns" style="float:left;">
                    <div class="panel">
                    <a href="<%= user_path(user.id) %>">  
                    <%= image_tag user.avatar(:medium) %>           
                    <h5><%= user.screen_name %></h5>
                    <h6 class="subheader"><%= user.gender %><br>
                    <%= distance_formatter(user.distance_from([current_user.latitude, current_user.longitude]).to_f) %></h6></a>
                    </div>
                  </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body> 
    

