<body id="users-list">
    <div class="row">
    <div class="large-12 columns"> 
    <div class="row">
 
  <!-- Side Bar -->
 
    <div class="large-4 small-12 columns">
 
      <%= form_tag(searches_path, method: 'get') do %>
      <div class="signup-panel">
      <%= label_tag :gender%>
      <%= select_tag(:gender, options_for_select([ "Male", "Female", "Other"]), :include_blank => true ) %>
      <% params[:gender] %>

      <%= label_tag :age %>
      <%= select_tag(:age, options_for_select({ '18-35' => 18..35, '35-49' => 35..49, '50-64' =>  50..64, '65+' => 65}),:include_blank => true )%>
      <% params[:age] %>

      <%= label_tag :experience %>
      <%= select_tag(:experience, options_for_select(experience_types_list), :include_blank => true)%>
      <% params[:experience] %>

      <%= label_tag :exercise %>
      <%= select_tag(:exercise, options_for_select(exercise_type_list), :include_blank => true)%>
      <% params[:exercise] %>
        <div class="filter-button">
          <%= submit_tag('Filter')%>
        </div> 
      <% end %>
      </div>
    </div>
 
    <!-- End Side Bar -->

    <!-- Thumbnails -->
 
        <div class="large-8 columns">
          <div class="row">
            <div class="large-4 small-6 columns">
              <% @users.each do |user| %> 
              <a href="<%= user_path(user.id) %>">  
              <%= image_tag user.avatar(:medium) %>           
                <div class="panel">
              <h5><%= user.screen_name %></h5>
                <h6 class="subheader"><%= user.gender %><br>
                <%= user.address %></h6></a>
              </div>
            <% end %>
            </div>
          </div>
 
    <!-- End Thumbnails -->

          </div>
        </div>
      </div>
    </body>  

    <!-- Footer -->
      <footer class="row" class="text-center">
        <div class="large-12 columns"><hr />
          <div class="row">
 
            <div class="large-6 columns">
              <p>© Shaban Karumba &amp; Teja Kocjancic.</p>
            </div>

           </div>
          </div>
        </div>
      </footer>
 
    <!-- End Footer -->
 
    </div>
  </div>
</body>   

