<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "iTrainer" %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <nav class="top-bar" data-topbar>
        <div class="row">
    <section class="top-bar-section">
    <ul class="title-area">
      <%=link_to image_tag("logo.png", alt: "iTrainer logo", style: "height: 42px; width: 160px; margin-left: 15px;"), '/users' %>
    <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
    </ul>
      <ul class="right">
        <li><%= link_to "My Profile", user_path(current_user.id) %></li>
        <li><%= link_to "Inbox", inbox_index_path %></li>
        <li><%= link_to "Users", users_path %></li>
        <li><%= link_to "Sign Out", sign_out_path, :method => :delete %></li>
      </ul>
    </div>
    </section>
  </nav>

    <% unless flash.empty? %>
      <% flash.each do |name, msg| %>
        <% name ? 'success' : 'warning' %>
          <div class="alerts-box">
            <div data-alert class="alert-box <%= name %> secondary">
              <%= "#{msg}!" %>
            </div>
          </div>
      <% end %>
    <% end %>

    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>

  
</html>